---
import Experience from "@/components/Experience.astro";
import Layout from "@/layouts/Layout.astro";
import BeautyButton from "@/components/BeautyButton.astro";
import Linkeding from "@/components/icons/Linkeding.astro";
import Github from "@/components/icons/Github.astro";
---

<Layout
  title="Porfolio de Sergio Beleña - Desarrollador y Programador Web con 7 años de experiencia"
  description="Contratme para crear tu aplicación web o móvil. Desarrollador Web Fullstack. Especializado en crear aplicaciones únicas."
>
  <main class="content-grid gap-y-12">
    <section class="py-16 text-center">
      <h1
        class="pb-6 text-3xl font-bold text-gray-900 dark:text-white md:text-4xl lg:pb-10 lg:text-5xl"
      >
        Sergio Fullstack Developer
      </h1>
      <h2 class="text-balance text-xl text-black dark:text-white lg:text-2xl">
        <span>+7 años de experiencia.</span><span>
          Desarrollador Web Fullstack.</span
        >
        <span>Adaptabilidad y Soft Skills.</span>
      </h2>
      <div class="pt-10">
        <BeautyButton
          bgColorPrimary="#0B66C2"
          bgColorSecondary="#0b4ec2"
          class="flex items-center space-x-2"
        >
          <Linkeding class="size-4" />
          <span>Linkedin</span>
        </BeautyButton>
        <BeautyButton class="flex items-center space-x-2">
          <Github class="size-4" />
          <span>Github</span>
        </BeautyButton>
      </div>
    </section>
    <section>
      <Experience />
    </section>
  </main>
</Layout>
