---
import Projects from "@/components/Projects.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout
  title="Porfolio de Sergio Beleña - Desarrollador y Programador Web con 7 años de experiencia"
  description="Contratme para crear tu aplicación web o móvil. Desarrollador Web Fullstack. Especializado en crear aplicaciones únicas."
>
  <main class="px-4">
    <Projects />
  </main>
</Layout>
